<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{description}}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  {{{content}}}
</body>
</html>


html:
  head:
    meta@asdf:
      charset: utf-8
    meta@2:
      description:
    title: $title

obj = { a: 1, a: 2 }


body:
  button:

function outerLayout(layout) {
  return `<html>
    <body>
    ${layout()}
    </body>
  </html>`
}

function middleLayout(layout) {
  return `<ul><li>Tabs</li></ul>${layout()}`
}

function innerLayout(page) {}



outerLayout(
  middleLayout(
    innerLayout(
      page()
    )
  )
)

